.card{
    display: flex;
    align-items: center;
    justify-content: center;
}

.card >div{
    border:2px solid black;
    width:350px;
    min-height:600px;
    padding: 4px;
    display: flex;
    align-items:flex-start;
    justify-content: flex-start;
    flex-direction: column;
    border-radius: 10px;
}

.card div img{
    width:100%;
    height:400px;
    object-fit: contain;
    border-radius: 10%;
}

.card div p{
    text-transform: capitalize;
}

.card .likes{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 15px;
}

p:nth-child(2){
    margin: 0 auto;
    font-size: 1.1rem;
}
p:nth-child(3){
    font-size: 1.5rem;
    margin-left: 15px;
}
p:nth-child(4){
    margin-left: 15px;
    text-transform: capitalize;
}

p:nth-child(5){
    margin-left: 15px;
}

p:nth-child(6){
    margin-left: 15px;
}


p strong{
    font-size: 1.25rem;
}


@media only screen and (max-width: 600px) {
    .card >div{
        width:325px;
    }
}