.cards{
    display: flex;
    align-items:center;
    justify-content: space-between;
    flex-direction: column;
    width:70%;
}

.cards .cards-inner{
    width: 100%;
    min-height: 75vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap:10px;
}


@media only screen and (max-width: 900px) {
    .cards{
        width:100%;
        flex-direction: column;
    }
}